<!DOCTYPE html>
<html lang = 'en'>
<head>
    <meta charset = 'UTF-8'>
    <meta name = 'viewport' content = 'width=device-width, initial-scale=1.0'>
    <title>Help</title>
    <link rel = 'icon' href = '/img/weather.png'>

    <link rel = 'stylesheet' href = './css/styles.css'>
</head>
<body>
    {{>header}}

    <main>
        <div class = 'main-content'>
        <h3 class = 'page-title'>{{title}}</h3>
        <section class = 'instructions'>
            <p>Use this site to get your weather!</p>
            <p>1. Select your unit, fahrenheit or celsius.</p>
            <p>2. Input your locaction (City or State).</p>
            <p>3. Click 'Search' the generate results.</p>
        </section>
    </div>
    </main>
    
    {{>footer}}
</body>
</html>