<footer>
    <section class = 'footer-name'>
        <p>Created by {{name}}</p>
    </section>

    <section class = 'footer-pages'> 
        <h3>- Pages -</h3>
        <a href = '/'>Weather</a>
        <a href = '/about'>About</a>
        <a href = '/help'>Help</a>
    </section>
    
</footer>
